<!DOCTYPE html>
<html>
    <head>
   <link rel="stylesheet" href="/css/style.css">
   <title>erorr</title>
    </head>
    <body>
       <div class="main_content">

           {{>header}}

        <p> {{errorMessage}}  </p> 

       </div>
        

          {{>footer}}
       
    </body>
</html>
