<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>
            about
        </title>
    </head>
    <body>

        <div class="main_content">

          {{>header}}
       
        <img src="/img/195.jpg">

        </div>
       

        {{>footer}}

    </body>
</html>
